/* src/components/HardwareUsageWidget.css */

.hardware-usage-widget {
    width: 600px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
}

.widget-header {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

.form-select {
    margin-top: 20px;
    /* margin-left: 50px; */
    max-width: 200px;
}

.widget-header h2 {
    margin: 0;
    font-size: 24px;
}

.widget-header select {
    margin-top: 5px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-item {
    display: flex;
    align-items: center;
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
}

.chart-item .chart-canvas {
    width: 100px; /* Adjust the size of the pie chart as needed */
    height: 100px; /* Adjust the size of the pie chart as needed */
    flex-shrink: 0; /* Prevent pie chart from shrinking */
}

.chart-item .chart-details {
    margin-left: 10px;
    text-align: left; /* Ensures left alignment */
    white-space: normal; /* Allow text to wrap */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.chart-item h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.chart-item p {
    font-size: 12px;
    margin: 0;
}
